<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido,señor Heisenberg!</h1>
        <p class="lead">Aca podras buscar tus peliculas y series favoritas.</p>
        <hr class="my-4">
        <p>Solo tienes que buscar atraves del menu que esta atu izquierda, o puedes dar click en el boton "buscar peliculas".</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/movies" role="button">buscar peliculas</a>
        </p>
      </div>



</div>